@charset "UTF-8";
/*----------------------------------------------------

1. Global Area 
2. Header Section
=====================================================================*/
/*=========
Font load
===========*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&display=swap");
/*=========
Color Code
===========*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  margin: auto;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*global area*/
/*----------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #2f3146;
  font-family: "Jost", sans-serif;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  color: #ffffff;
  background-color: #6b59d3;
}

::selection {
  color: #ffffff;
  background-color: #6b59d3;
}

::-moz-selection {
  color: #ffffff;
  background-color: #6b59d3;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a:visited,
a.active,
select,
select:hover,
select:focus,
select:visited {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.relative-position {
  position: relative;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Jost", sans-serif;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-200 {
  padding-bottom: 200px;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.wizard-forms {
  padding: 90px 180px;
}

.section-padding {
  padding: 90px 60px;
}

.wrapper {
  margin: 50px auto;
  max-width: 1680px;
  background-color: #f5f7f8;
  -webkit-box-shadow: 0px 5px 65px 0px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 5px 65px 0px rgba(0, 0, 0, 0.29);
}

.boxed-version {
  max-width: 1400px;
  margin: auto;
}

.dark-version.dark-version {
  background-color: #1a1a1a;
}
.dark-version.dark-version label, .dark-version.dark-version p, .dark-version.dark-version span {
  color: #fff !important;
}
.dark-version.dark-version button, .dark-version.dark-version input, .dark-version.dark-version optgroup, .dark-version.dark-version select, .dark-version.dark-version textarea, .dark-version.dark-version .wrapper {
  background-color: #1a1a1a !important;
}

.steps-area-fixed.steps-area-fixed {
  position: fixed;
  width: 25%;
}

.inner {
  width: 100%;
  height: auto;
}

/* ============================================================================ */
/*   step
/* ============================================================================ */
.steps {
  background-color: #263ea5;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}
.steps ul {
  padding-left: 70px;
}

.steps li {
  position: relative;
}
.steps li:before {
  content: "";
  top: 55px;
  width: 240px;
  left: 0px;
  height: 25px;
  color: #5065ca;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.5;
  position: absolute;
}
.steps li:after {
  top: 8px;
  left: 15px;
  z-index: -1;
  color: #6076d1;
  font-size: 17px;
  content: "";
  font-weight: 900;
  position: absolute;
  font-family: "Font Awesome 5 Free";
}
.steps li a {
  width: 45px;
  color: #fff;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  line-height: 45px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  display: inline-block;
  border: 2px solid #6076d1;
}
.steps li a:after {
  width: 2px;
  left: 18px;
  content: "";
  height: 33px;
  bottom: -80px;
  position: absolute;
  background-color: #6076d1;
}
.steps li .number {
  display: none;
}
.steps li.first a {
  border: 2px solid #fff;
}
.steps li.last a:after {
  display: none;
}
.steps li.checked:after, .steps li.current:after {
  color: #fff;
}
.steps li.checked:before, .steps li.current:before {
  color: #fff;
}
.steps li.checked a, .steps li.current a {
  border: 2px solid #fff;
}
.steps li.checked a:after, .steps li.current a:after {
  background-color: #fff;
}

.line {
  width: 495px;
  height: 3px;
  left: 28.4%;
  height: 3px;
  background: #f1f1f2;
  position: relative;
  top: 0px;
  margin: 5px 0;
}
.line.line2 {
  width: 100%;
  left: 0;
}

.actions {
  right: 7%;
  position: absolute;
  bottom: 50px;
}
.actions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.actions li {
  margin-right: 20px;
}
.actions li span {
  height: 55px;
  width: 180px;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0px;
  line-height: 55px;
  text-align: center;
  background-color: #72bb4c;
  cursor: pointer;
}
.actions li .js-btn-prev {
  background: #b4d4e4 !important;
}
.actions li button {
  background: #2c3ca6;
  border: 0;
  padding: 15px 40px;
  margin-left: 18px;
  font-size: 18px;
  color: #fff;
  height: 55px;
}
.actions li:last-child {
  margin-right: 0;
}
.actions li[aria-disabled=true] span {
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.actions li[aria-disabled=false] ~ li span {
  background-color: #72bb4c;
  color: #fff;
}
.actions li[aria-disabled=false] ~ li span:hover {
  background-color: #72bb4c;
}

.wizard-checkbox-option li {
  padding-top: 10px;
  min-width: 25%;
  float: left;
  font-size: 18px;
  font-weight: 600;
  padding-left: 60px;
  position: relative;
  display: inline-block;
}

.block-option input {
  display: none;
}
.block-option .checkbox-tick {
  position: relative;
}
.block-option .checkbox-tick:before {
  top: 2px;
  left: -48px;
  color: #122849;
  content: "";
  font-size: 16px;
  font-weight: 900;
  display: none;
  position: absolute;
  font-family: "Font Awesome 5 Free";
}
.block-option .checkbox-tick:after {
  position: absolute;
  content: "";
  height: 38px;
  width: 38px;
  top: -5px;
  left: -60px;
  border: 2px solid #b4d4e4;
}
.block-option .checked-checkbox:checked ~ .checkbox-tick:before {
  display: block;
}
.block-option .checked-checkbox:checked ~ .checkbox-tick:after {
  border: 2px solid #122849;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.17);
}

.checkbox-circle {
  position: relative;
  margin: 0 !important;
  padding-left: 40px;
  width: inherit !important;
  text-align: left !important;
}
.checkbox-circle label {
  cursor: pointer;
  color: #999;
  font-size: 13px;
  line-height: 1.9;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.checkbox-circle label a {
  color: #6d7f52;
}
.checkbox-circle label a:hover {
  color: #89b843;
}
.checkbox-circle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
}
.checkbox-circle input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-circle input:checked ~ .checkmark:before {
  content: "";
  top: 0px;
  left: 3px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  font-size: 12px;
}
.checkbox-circle .checkmark {
  position: absolute !important;
  top: 3px !important;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #999;
}
.checkbox-circle .checkmark:after {
  content: "";
  top: -1px;
  left: -1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #49cc2a;
  position: absolute;
  display: none;
}

.social-media-find .social-find-caret, .select-caret, .wizard-note-subject .select-option-area {
  position: relative;
}
.social-media-find .social-find-caret:after, .select-caret:after, .wizard-note-subject .select-option-area:after {
  top: 12px;
  right: 15px;
  content: "";
  font-weight: 900;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  height: 25px;
  width: 25px;
  line-height: 25px;
  background-color: #e5e4e4;
  border-radius: 100%;
  text-align: center;
}

/*---------------------------------------------------- */
/*wizard area*/
/*----------------------------------------------------*/
/* ==========================================================================
multistep css
========================================================================== */
.multisteps-form__progress {
  padding-top: 60px;
  padding-bottom: 100px;
  width: 300px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.multisteps-form__progress-btn {
  position: relative;
  color: rgba(96, 118, 209, 0.7);
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin-left: 32px;
  padding-bottom: 100px;
  z-index: 1;
}
.multisteps-form__progress-btn span {
  position: absolute;
  top: 58px;
  left: 7px;
  color: #6076d1;
}
.multisteps-form__progress-btn i {
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  margin-right: 15px;
  line-height: 50px;
  position: relative;
  text-align: center;
  display: inline-block;
  border: 2px solid #6076d1;
  border-radius: 50%;
  z-index: -1;
}
.multisteps-form__progress-btn:after {
  content: "";
  position: absolute;
  top: 65%;
  left: 28px;
  display: block;
  width: 2px;
  height: 37px;
  background-color: #6076d1;
  z-index: 1;
}
.multisteps-form__progress-btn:last-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #fff;
}
.multisteps-form__progress-btn.js-active span {
  color: #fff;
}
.multisteps-form__progress-btn.js-active i {
  color: #fff;
  border-color: #fff;
}
.multisteps-form__progress-btn.js-active:after {
  background-color: #fff;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  height: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  opacity: 1;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  visibility: visible;
}
.multisteps-form__panel[data-animation=scaleOut] {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.multisteps-form__panel[data-animation=scaleOut].js-active {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.multisteps-form__panel[data-animation=slideHorz] {
  left: -50px;
}
.multisteps-form__panel[data-animation=slideHorz].js-active {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
       -o-transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
          transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation=slideVert] {
  top: 30px;
}
.multisteps-form__panel[data-animation=slideVert].js-active {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation=fadeIn].js-active {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}
.multisteps-form__panel[data-animation=scaleIn] {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.multisteps-form__panel[data-animation=scaleIn].js-active {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/* ==========================================================================
wizard section
========================================================================== */
.wizard-title {
  padding-bottom: 85px;
}
.wizard-title h3 {
  color: #122849;
  font-size: 40px;
  font-weight: 700;
}
.wizard-title p {
  color: #122849;
  font-size: 23px;
  font-weight: 500;
}

.vector-img-one {
  position: absolute;
  bottom: 10px;
  left: 5px;
}

.wizard-form-field .wizard-form-input {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wizard-form-field .wizard-form-input label {
  float: left;
  color: #474747;
  font-size: 19px;
  text-align: right;
  font-weight: 600;
  width: 200px;
  margin: 15px 30px 0px 0px;
}
.wizard-form-field .wizard-form-input input {
  width: 585px;
  height: 50px;
  border: 3px solid #b4d4e4;
}

.wizard-v3-progress {
  z-index: 10;
  width: 300px;
  right: -345px;
  bottom: 20px;
  position: absolute;
}
.wizard-v3-progress .progress {
  width: 100%;
  height: 20px;
  border-radius: 20px;
  background-color: #b4c8e8;
  position: relative;
}
.wizard-v3-progress .progress:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #111;
  position: absolute;
  left: 30%;
  top: 8px;
}
.wizard-v3-progress .progress:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #111;
  position: absolute;
  left: 45%;
  top: 8px;
}
.wizard-v3-progress .progress .progress-bar {
  border-radius: 20px;
  background-color: #2e70ee;
}
.wizard-v3-progress .progress .progress-bar:after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #111;
  position: absolute;
  left: 75%;
  top: 8px;
}
.wizard-v3-progress span {
  color: #b5ccec;
}
.wizard-v3-progress h3 {
  color: #fff;
  font-size: 23px;
  padding: 5px 0px 10px;
  font-weight: 700;
}

/* ==========================================================================
wizard 1
========================================================================== */
.wizard-photo-area {
  width: 190px;
  float: left;
  margin-left: -50px;
}
.wizard-photo-area .photo-upload-text {
  color: #8d8d8d;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
}

.wizard-photo-upload {
  float: left;
}
.wizard-photo-upload label {
  padding: 8px 15px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  background-color: #4a6e8b;
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-bottom: 0;
}
.wizard-photo-upload .display-img {
  width: 185px;
  height: 170px;
  overflow: hidden;
  padding-top: 20px;
  background-color: #fff;
}

.wizard-form-field {
  margin-left: 190px;
}
.wizard-form-field .wizard-form-input {
  position: relative;
  z-index: 2;
}
.wizard-form-field .wizard-form-input .wizard-checked {
  display: inline-block;
  margin: 15px 50px 0px 0px;
}
.wizard-form-field .wizard-form-input .wizard-checked:last-of-type {
  margin-right: 0;
}
.wizard-form-field .wizard-form-input .wizard-checked input {
  height: 18px;
  width: 18px;
}
.wizard-form-field .wizard-form-input .wizard-checked span {
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  position: relative;
  top: -3px;
  margin-left: 5px;
}
.wizard-form-field .form-field-text {
  font-size: 18px;
  color: #848c95;
  max-width: 625px;
  padding-left: 230px;
}

/* ==========================================================================
wizard 2
========================================================================== */
.wizard-solution-select {
  margin: 0 auto;
  max-width: 1090px;
}

.option_item {
  margin: 0 auto;
  width: 325px;
  height: 270px;
  position: relative;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.option_item .name {
  display: block;
  color: #474747;
  font-size: 23px;
  font-weight: 600;
}

.option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: block;
  border: 2px solid transparent;
  position: relative;
}
.option_item .option_inner:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border: 2px solid #b4d4e4;
}

.option_item .option_inner .icon {
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.option_item .option_inner .icon .fab {
  font-size: 32px;
}

.option_item .option_inner .name {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.option_item .checkbox:checked ~ .option_inner {
  border-color: #3b5999;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.27);
}
.option_item .checkbox:checked ~ .option_inner:before {
  display: none;
}

.option_item .option_inner .tickmark {
  position: absolute;
  height: 50px;
  width: 50px;
  display: none;
  border-radius: 100%;
  top: -25px;
  left: -25px;
  background-color: #253fa5;
}

.option_item .option_inner .tickmark:before {
  content: "";
  position: absolute;
  font-size: 16px;
  top: 12px;
  left: 15px;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.option_item .checkbox:checked ~ .option_inner .tickmark {
  display: block;
}

.izard-solution-select label {
  margin-bottom: 0;
}

.wizard-note-subject {
  float: right;
  z-index: 5;
  margin-top: 30px;
  margin-right: 25px;
  position: relative;
}
.wizard-note-subject .wizard-form-input {
  margin-top: 30px;
  position: relative;
}
.wizard-note-subject .wizard-form-input label {
  float: left;
  color: #474747;
  font-size: 19px;
  text-align: right;
  font-weight: 600;
  width: 195px;
  margin: 15px 30px 0px 0px;
}
.wizard-note-subject .wizard-form-input select,
.wizard-note-subject .wizard-form-input textarea {
  width: 720px;
  height: 50px;
  padding-left: 20px;
  -webkit-appearance: none;
  border: 3px solid #b4d4e4;
}
.wizard-note-subject .wizard-form-input textarea {
  height: 170px;
}
.wizard-note-subject .wizard-checked {
  float: right;
  margin-right: 40px;
  display: inline-block;
}
.wizard-note-subject .wizard-checked input {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.wizard-note-subject .wizard-checked span {
  top: -2px;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.wizard-sub-text {
  color: #474747;
  display: block;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* ==========================================================================
wizard three
========================================================================== */
.select-caret {
  margin-bottom: 85px;
}
.select-caret:after {
  top: 35px;
}
.select-caret select {
  -webkit-appearance: none;
}

.wizard-form-input select {
  width: 100%;
  height: 95px;
  padding: 0px 40px;
  border: 3px solid #b4d4e4;
}

.duration-box {
  display: block;
  width: 100%;
  height: 185px;
  width: 270px;
  padding-top: 35px;
  position: relative;
  border: 2px solid #b4d4e4;
}
.duration-box .title {
  color: #474747;
  display: block;
  font-size: 65px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 5px;
}
.duration-box span {
  line-height: 1;
  color: #474747;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}

.duration-option {
  position: relative;
  margin-bottom: 0;
}
.duration-option .d-checkbox {
  display: none;
}
.duration-option .checkbox-circle-tick {
  position: absolute;
  top: 15px;
  right: 45px;
}
.duration-option .checkbox-circle-tick:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  border: 2px solid #b4d4e4;
}
.duration-option .checkbox-circle-tick:after {
  top: 5px;
  left: 5px;
  content: "";
  width: 20px;
  height: 20px;
  display: none;
  border-radius: 100%;
  position: absolute;
  background-color: #122849;
}
.duration-option .d-checkbox:checked ~ .duration-box {
  border: 2px solid #122849;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.27);
}
.duration-option .d-checkbox:checked ~ .checkbox-circle-tick:after {
  display: block;
}
.duration-option .d-checkbox:checked ~ .checkbox-circle-tick:before {
  border-color: #122849;
}

.wizard-document-upload {
  display: inline-block;
  width: 100%;
}
.wizard-document-upload .custom-file-input {
  padding: 24px 20px;
  height: auto;
}
.wizard-document-upload .custom-file-label {
  padding: 24px 20px;
  height: auto;
  border-radius: 0;
  font-size: 20px;
}
.wizard-document-upload label.custom-file-label {
  padding: 24px;
  height: auto;
  color: #9c9c9c;
}
.wizard-document-upload label.custom-file-label:after {
  background: #2d35a5;
  color: #fff;
  border-radius: 0;
  padding: 24px;
  height: 80px;
  width: 244px;
  text-align: center;
}

.custom-file-input ~ .custom-file-label::before {
  content: "";
  position: absolute;
  right: 165px;
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  z-index: 22;
}

/* ==========================================================================
wizard 4
========================================================================== */
#slider-service {
  padding-right: 20px;
}

.service-checkbox {
  display: none;
}

.w-service-box {
  width: 270px;
  height: 220px;
  float: left;
  margin: 15px;
  padding: 10px 0px;
  margin-bottom: 30px;
  background-color: #fff;
  border: 3px solid #b4d4e4;
}
.w-service-box .tooltip-info:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  top: 15px;
  right: 15px;
  display: none;
  border-radius: 100%;
  background-color: #2540a5;
}
.w-service-box .tooltip-info:after {
  position: absolute;
  content: "";
  top: 18px;
  color: #fff;
  right: 26px;
  font-weight: 900;
  display: none;
  display: none;
  font-family: "Font Awesome 5 Free";
}
.w-service-box .service-text {
  color: #122849;
  font-size: 24px;
  font-weight: 500;
}
.w-service-box .option-seclect {
  bottom: -35px;
  left: -4px;
  width: 103%;
  padding: 5px;
  font-size: 16px;
  display: none;
  font-weight: 500;
  position: absolute;
  background-color: #2540a5;
}
.w-service-box .option-seclect span {
  color: #fff;
}

.service-checkbox:checked ~ .w-service-box .tooltip-info:before,
.service-checkbox:checked ~ .w-service-box .tooltip-info:after {
  display: block;
}

.service-checkbox:checked ~ .w-service-box {
  border: 3px solid #2540a5;
}

.service-checkbox:checked ~ .w-service-box .option-seclect {
  display: block;
}

.slick-dots li.slick-active {
  width: 35px;
  height: 10px;
  background: #2c39a4;
  border-radius: 5px;
}

.slick-dots li {
  width: 15px;
  height: 10px;
  background: #ccc;
  display: inline-block;
  margin: 0 8px;
  border-radius: 5px;
  cursor: pointer;
}

.slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slick-dots button {
  font-size: 0;
  visibility: hidden;
}

/* ==========================================================================
wizard 5
========================================================================== */
.wizard-day-item {
  width: 100%;
  display: inline-block;
}

.social-media-find {
  display: block;
}
.social-media-find .social-find-caret:after {
  top: 35px;
  right: 20px;
}
.social-media-find select {
  width: 100%;
  height: 95px;
  padding-left: 30px;
  -webkit-appearance: none;
  border: 2px solid #b4d4e4;
}

/*---------------------------------------------------- */
/*wizard area*/
/*----------------------------------------------------*/
@media screen and (max-width: 1500px) {
  .wrapper {
    margin: 0 auto;
  }

  .multisteps-form__progress-btn {
    padding-bottom: 85px;
  }

  .multisteps-form__progress {
    padding-top: 35px;
  }

  .wizard-forms {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .wizard-v3-progress {
    right: -375px;
    bottom: -40px;
  }

  .wizard-forms {
    padding: 60px 30px;
  }

  .wizard-form-field .wizard-form-input input {
    width: 450px;
  }

  .wizard-form-field .wizard-form-input .wizard-checked span {
    margin-right: 5px;
  }

  .wizard-form-field .form-field-text {
    padding-left: 0;
  }

  .wizard > .steps ul {
    padding-left: 20px;
  }

  .line {
    width: 450px;
    left: 29.1%;
  }

  .option_item {
    width: 275px;
  }

  .wizard-note-subject .wizard-form-input select,
.wizard-note-subject .wizard-form-input textarea {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .wizard-note-subject .wizard-form-input label {
    text-align: left;
  }

  .vector-img-one {
    position: absolute;
    bottom: -60px;
    left: 0px;
  }

  .wizard-note-subject .select-option-area:after {
    top: 55px;
  }
}
@media screen and (max-width: 1199.98px) {
  .pb-200 {
    padding-bottom: 270px;
  }

  .pb-100 {
    padding-bottom: 100px;
  }

  .mb-60 {
    margin-bottom: 20px !important;
  }

  .mb-85 {
    margin-bottom: 35px !important;
  }

  .mt-60 {
    margin-top: 20px !important;
  }

  .wizard-forms {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    padding: 0;
  }

  .multisteps-form__progress {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    width: 255px;
  }

  .multisteps-form__progress-btn {
    margin-left: 15px;
  }

  .wizard-form-field .wizard-form-input input {
    width: 100%;
  }

  .wizard-form-field .wizard-form-input label {
    width: 100%;
    text-align: left;
  }

  .w-service-box {
    width: 250px;
  }

  .wizard-form-field .wizard-form-input {
    display: inline-block;
  }

  .line {
    width: 425px;
    left: 14.4%;
  }

  .option_item {
    width: 255px;
  }

  .wizard-v3-progress {
    width: 260px;
    right: -317px;
    bottom: -40px;
  }
  .wizard-v3-progress h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .pb-200 {
    padding-bottom: 100px;
  }

  .wrapper {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .multisteps-form__progress {
    width: 245px;
  }

  .line {
    width: 520px;
    left: 0%;
  }

  .wizard-title h3 {
    font-size: 32px;
  }

  .wizard-title p {
    font-size: 20px;
  }

  .duration-box {
    height: 185px;
    width: 205px;
  }

  .wizard-v3-progress {
    width: 250px;
    right: -305px;
  }

  .vector-img-one {
    position: absolute;
    bottom: -38px;
    left: -20px;
  }

  .wizard > .steps li.checked a:after,
.wizard > .steps li.current a:after {
    display: none;
  }

  .w-service-box {
    width: 230px;
  }
}
@media screen and (max-width: 991.98px) {
  .pb-200 {
    padding-bottom: 80px;
  }

  .wizard-form-field {
    margin-left: 0;
  }

  .wrapper {
    display: block !important;
  }

  .form-area,
.multisteps-form__form {
    width: 100% !important;
  }

  .wizard > .steps {
    width: 100% !important;
    position: static !important;
    position: static;
  }

  .wizard-note-subject {
    float: none;
    z-index: 5;
    margin-top: 30px;
    margin-right: 0;
    position: relative;
  }

  .multisteps-form__progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-bottom: 0;
  }

  .multisteps-form__progress-btn {
    width: 25%;
    text-align: center;
  }

  .multisteps-form__progress-btn {
    padding-bottom: 35px;
  }

  .multisteps-form__progress-btn:after {
    content: "";
    position: absolute;
    top: 28%;
    left: 140px;
    display: block;
    width: 35px;
    height: 1px;
    background-color: #6076d1;
    z-index: 1;
  }

  .multisteps-form__progress-btn span {
    visibility: hidden;
  }

  .multisteps-form__form {
    min-height: inherit;
  }

  .multisteps-form__progress-btn {
    display: inline-block;
  }

  .wizard > .steps li a:after {
    display: none;
  }

  .line {
    display: none;
  }

  .wizard > .steps li.checked:before,
.wizard > .steps li.current:before {
    display: none;
  }

  .wizard > .steps li:before {
    display: none;
  }

  .wizard > .steps li .number {
    display: block;
  }

  .wizard > .steps ul {
    text-align: center;
  }
  .wizard > .steps ul li {
    padding-bottom: 50px;
  }

  .vector-img-one {
    display: none;
  }

  .wizard-v3-progress {
    position: static;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .wizard-v3-progress span {
    color: #000;
  }
  .wizard-v3-progress h3 {
    color: #263ea5;
  }

  .wizard-title {
    padding-bottom: 30px;
  }

  .wizard-day-item {
    margin-bottom: 0;
  }

  .wizard-photo-area {
    float: none;
    text-align: center;
    margin: auto;
  }

  .option_item {
    width: auto;
    display: block;
    margin-bottom: 20px;
  }

  .duration-box {
    width: 100%;
  }

  .duration-option {
    display: block;
    margin-bottom: 30px;
  }

  .wizard-day-option li {
    width: 100%;
  }

  .actions {
    right: inherit;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    bottom: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .wizard-forms {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    overflow-x: hidden;
  }

  .multisteps-form__panel {
    padding: 0 30px;
  }

  .pb-100 {
    padding-bottom: 50px;
  }

  .pb-200 {
    padding-bottom: 70px;
  }

  .wizard-forms {
    padding: 20px;
  }

  .wizard-document-upload label.custom-file-label:after {
    background: #2d35a5;
    color: #fff;
    border-radius: 0;
    padding: 18px;
    height: 50px;
    width: 105px;
    text-align: center;
  }

  .custom-file-input ~ .custom-file-label::before {
    right: 72px;
    top: 13px;
    font-size: 16px;
  }

  .multisteps-form__progress-btn {
    margin-left: 20px;
    padding-bottom: 50px;
  }
  .multisteps-form__progress-btn:after {
    display: none;
  }

  .actions {
    position: static;
    -webkit-transform: inherit;
        -ms-transform: inherit;
            transform: inherit;
  }

  button.slick-arrow {
    border: none;
    background: #72bb4c;
    color: #fff;
    width: 90px;
  }
}
@media screen and (max-width: 575.98px) {
  .wizard-forms {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    padding: 20px 0;
  }

  .multisteps-form__progress-btn i {
    margin-right: 10px;
  }

  .steps li {
    margin-right: 10px;
  }

  .wizard-title h3 {
    font-size: 25px;
    padding-bottom: 20px;
  }

  .wizard-title p {
    font-size: 16px;
  }

  .actions li:first-child a {
    width: 110px;
  }

  .wizard-document-upload label.custom-file-label {
    padding: 17px;
    font-size: 10px;
  }

  .wizard-document-upload .custom-file-input {
    padding: 12px 20px;
    height: auto;
  }

  .multisteps-form__progress-btn {
    margin-left: 0px;
    padding-bottom: 30px;
  }

  .multisteps-form__panel {
    padding: 0 15px;
  }

  .w-service-box {
    width: 235px;
  }

  .social-media-find select {
    height: 55px;
  }

  .social-media-find .social-find-caret:after {
    top: 15px;
  }

  .wizard-checkbox-option li {
    display: block;
    width: 100%;
  }

  .wizard-photo-area {
    margin-left: 0;
  }

  .wizard-v3-progress {
    margin-bottom: 50px;
    margin-top: 40px;
  }

  #slider-service {
    margin-bottom: 40px;
  }

  button.slick-prev.slick-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .actions li span {
    height: 50px;
    width: 110px;
    font-size: 17px;
    line-height: 50px;
  }
}
/*---------------------------------------------------- */